<div class="wrapper">
    <div class="row">
        <div class="col-sm-3 p-5 white rounded">
            <div class="profil-adatok">
                <h3>Profiom</h3>
                <div class="text-center mt-4">
                    <img class="profil-pic rounded" src="%!SRC!%" alt="profil kep">
                    <p class="my-3"><b>%!NAME!%</b></p>
                    <p class="my-3 small">%!EMAIL!%</p>
                    <p class="my-3">%!RECEPTSZAM!% feltöltött recept</p>
                </div>
                <div class="buttons text-center">
                    <a href="#" class="btn btn-default"><small>Szerkesztés</small></a>
                    <a href="#" class="btn mt-1" id="delete"><small>Profil törlése</small></a>
                </div>

            </div>
        </div>
        <div class="col-sm-9 p-5">
            <div class="profil-receptek">
                <h3 class="mb-5">Receptjeim</h3>
                <div class="row">




                    %!RECEPTEK!%





                </div>
            </div>
        </div>
    </div>
</div>