<div class="wrapper">
    <div class="row">
        <div class="col-md-3 p-5 white rounded mt-3">
            <div class="profil-adatok">
                <h3>Profiom</h3>
                <div class="text-center mt-4">
                    <img class="profil-pic" src="%!SRC!%" alt="profil kep">
                    <p class="my-3"><b>%!NAME!%</b></p>
                    <p class="my-3 small">%!EMAIL!%</p>
                    <p class="my-3">%!RECEPTSZAM!% feltöltött recept</p>
                </div>
                <div class="buttons text-center">
                    <a href="#" class="btn btn-default"><small>Szerkesztés</small></a>
                    <a href="#" class="btn mt-1" id="delete"><small>Profil törlése</small></a>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="profil-receptek white" style="min-height: 800px;">
                <div class="cover-pic">
                    <h2>Receptjeim</h2>
                    <img src="%!COVERIMG!%" alt="cover-pic" class="img-fluid">
                </div>

                <div class="row p-5">




                    %!RECEPTEK!%





                </div>
            </div>
        </div>
    </div>
</div>