<div class="review-thumb">
    <div class="row">
        <div class="col-3">
            <div class="text-center">
                <img id="user-pic" class="rounded" src="%!KOMMENTERPIC!%" alt="user-pic"><br>
                <p id="user-name" class="mb-0">%!KOMMENTERNAME!%</p>
                <small id="time-stamp" class="">%!TIMESTAMP!%</small>
            </div>
        </div>
        <div class="col-9">
            <div class="mx-3">
                <img id="review-star" src="%!RATINGPIC!%" alt="stars">
                <p class="comment-text">%!KOMMENT!%</p>
            </div>
        </div>
    </div>
    <div class="devider-small"></div>
</div>