<div id="cookie-popup" class="cookie-popup container">
    <div class="row ml-1">
        <div class="col-sm-8">
            <h4 class="primary-color">Cookie használat</h4>
            <p>Cookie-kat használunk, hogy a legjobb élményt nyújthassuk weboldalunkon. Oldalunk további használatával elfogadod a süti szabályzatunkat.</p>
            <span><a href="#"><small class="primary-color">süti szabálzat</small></a></span>
        </div>
        <div class="col-sm-4 d-block my-3"><button id="accept-btn" class="btn btn-default">Elfogadás</button></div>
    </div>
</div>