<div id="main-content">
    <div class="fav-wrapper">
        <div class="row w-100 m-0">


                <div class="profil-receptek white mb-3">
                    <div class="cover-pic mb-3">
                        <h2 class="headline">Kedvenc receptjeim</h2>
                        <img src="%!COVERIMG!%" alt="cover-pic" class="img-fluid">
                    </div>

                    <div class="row py-3 px-5 dynamic-padding mw-950 w-100 m-auto">


                        %!RECEPTEK!%


                    </div>
                </div>
          
        </div>
    </div>
</div>



<script>
    function saveToFavorites(itemId) {
        fetch('api/save_favorite.php', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ item_id: itemId })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    //console.log(data.result);
                    if (data.result === "inserted") {
                        document.getElementById("icon-" + itemId).setAttribute("src", "content/heart_icons/heart2.png");
                    }
                    else if (data.result === "removed") {
                        document.getElementById("icon-" + itemId).setAttribute("src", "content/heart_icons/heart1.png");
                        // Remove the card element
                        var card = document.getElementById('card-' + itemId);
                        if (card) {
                            card.classList.add("fade-out");
                            setTimeout(function () {
                                card.remove();;
                            }, 200);

                        }
                    }
                } else {
                    console.log('Hiba a kedvenchez adás közben: ' + data.error);
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>