<optgroup label="Főételek">
  <option value="Leves">Leves</option>
  <option value="Előétel">Előétel</option>
  <option value="Főétel">Főétel</option>
  <option value="Köret">Köret</option>
  <option value="Tészta">Tészta</option>
  <option value="Rakott étel">Rakott</option>
  <option value="Grill">Grill étel</option>
  <option value="Vegetáriánus">Vegetáriánus</option>
  <option value="Vegán">Vegán</option>
  <option value="Halétel">Halétel</option>
  <option value="Húsétel">Húsétel</option>
  <option value="Street food">Street food</option>
</optgroup>
<optgroup label="Édesség">
  <option value="Édesség">Édesség</option>
  <option value="Sütemény">Sütemény</option>
  <option value="Torta">Torta</option>
  <option value="Pite">Pite</option>
  <option value="Édesség sütés nélkül">Édesség sütés nélkül</option>
  <option value="Diétás édesség">Diétás édesség</option>
</optgroup>
<optgroup label="Speciális">
  <option value="Egészséges">Egészséges</option>
  <option value="Alacsony kalória">Alacsony kalória</option>
  <option value="Gluténmentes">Gluténmentes</option>
  <option value="Laktózmentes">Laktózmentes</option>
  <option value="Ünnepi étel">Ünnepi étel</option>
  <option value="Nemzetközi konyha">Nemzetközi konyha</option>
</optgroup>
<optgroup label="Italok">
  <option value="Smoothie">Smoothie</option>
  <option value="Koktél">Koktél</option>
  <option value="Alkoholmentes">Alkoholmentes</option>
  <option value="Forró ital">Forró ital</option>
</optgroup>
<optgroup label="Egyéb">
  <option value="Befőtt és savanyúság">Befőtt és savanyúság</option>
  <option value="Szósz és mártás">Szósz és mártás</option>
  <option value="Kenyér és péksütemény">Kenyér és péksütemény</option>
  <option value="Saláta">Saláta</option>
<optgroup label="">
  <option value="egyéb">Egyéb étel</option>
</optgroup>