<optgroup label="Főételek">
    <option value="levesek">Levesek</option>
    <option value="eloetelek">Előételek</option>
    <option value="foetelek">Főételek</option>
    <option value="koretek">Köretek</option>
    <option value="tesztak">Tészták</option>
    <option value="rakottetelek">Rakott ételek</option>
    <option value="grilletelek">Grill ételek</option>
    <option value="vegetarianus">Vegetáriánus ételek</option>
    <option value="vegan">Vegán ételek</option>
    <option value="haletelek">Halételek</option>
    <option value="husetel">Húsételek</option>
    <option value="streetfood">Street food</option>
  </optgroup>
  <optgroup label="Édességek">
    <option value="sutemenyek">Sütemények</option>
    <option value="tortak">Torták</option>
    <option value="pohardesszertek">Pohárdesszertek</option>
    <option value="kekszek">Kekszek</option>
    <option value="palacsintak">Palacsinták és gofrik</option>
    <option value="pitek">Piték</option>
    <option value="fagyik">Fagyik és jégkrémek</option>
    <option value="suttnelkul">Édességek sütés nélkül</option>
    <option value="dietasedessegek">Diétás édességek</option>
  </optgroup>
  <optgroup label="Speciális">
    <option value="gyors">Gyors ételek (30 perc alatt)</option>
    <option value="egeszseges">Egészséges receptek</option>
    <option value="alacsonykal">Alacsony kalóriás ételek</option>
    <option value="glutenmentes">Gluténmentes ételek</option>
    <option value="laktozmentes">Laktózmentes ételek</option>
    <option value="unnepi">Ünnepi ételek</option>
    <option value="nemzetkozi">Nemzetközi konyhák</option>
  </optgroup>
  <optgroup label="Italok">
    <option value="smoothiek">Smoothiek</option>
    <option value="koktelok">Koktélok</option>
    <option value="alkoholmentes">Alkoholmentes italok</option>
    <option value="forroitalok">Forró italok</option>
  </optgroup>
  <optgroup label="Egyéb">
    <option value="befottek">Befőttek és savanyúságok</option>
    <option value="szoszok">Szószok és mártások</option>
    <option value="kenyerek">Kenyerek és péksütemények</option>
    <option value="szendvicsek">Szendvicsek</option>
    <option value="salatak">Saláták</option>
    <option value="gyermekbarat">Gyermekbarát receptek</option>
    <option value="piknik">Piknik ételek</option>
  </optgroup>