<div class="col-12 row align-items-end ingredient-row mt-1">
    <div class="col-md-4">
        <label for="ingredientName1" class="form-label">Hozzávaló neve</label>
        <input type="text" class="form-control input-filed" id="ingredientName1" name="ingredients[%!NUM!%][nev]"
            value="%!NEV!%" required>
    </div>
    <div class="col-md-3">
        <label for="ingredientAmount1" class="form-label">Mennyiség</label>
        <input type="number" step="0.1" class="form-control input-filed" id="ingredientAmount1"
            name="ingredients[%!NUM!%][mennyiseg]" value="%!MENNY!%" required>
    </div>
    <div class="col-md-3">
        <label for="ingredientUnit1" class="form-label">Mértékegység</label>
        <select class="form-select" id="ingredientUnit1" name="ingredients[%!NUM!%][mertekegyseg]">
            <option value="%!MERTEKEGYS!%" selected>%!MERTEKEGYS!%</option>
            <option value="gramm">gramm</option>
            <option value="dkg">dkg</option>
            <option value="kg">kg</option>
            <option value="dl">dl</option>
            <option value="ml">ml</option>
            <option value="liter">liter</option>
            <option value="db">db</option>
            <option value="ek">ek</option>
            <option value="tk">tk</option>
            <option value="pohár">pohár</option>
            <option value="csésze">csésze</option>
            <option value="bögre">bögre</option>
            <option value="csomag">csomag</option>
            <option value="doboz">doboz</option>
            <option value="csipet">csipet</option>
            <option value="marék">marék</option>
            <option value="csokor">csokor</option>
            <option value="szelet">szelet</option>
            <option value="gerezd">gerezd</option>
            <option value="fej">fej</option>
            <option value="szál">szál</option>
        </select>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-danger remove-ingredient">Törlés</button>
    </div>
</div>