
    <li class="nav-item dropdown profile">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <div class="profil-pic-icon-wrapper">
                <img src="%!IMG!%" alt="%!NAME!% profil icon" class="profil-icon-img">
            </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="index.php?p=account">Receptjeim</a></li>
            <li><a class="dropdown-item" href="index.php?p=account">Profilom</a></li>
            %!ADMIN!%
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-danger" href="index.php?logout=true">Kijelentkezés</a></li>
        </ul>
    </li>


