<h6 class="text-center" style="background-color: %!COLOR!%; padding: 5px; color: white;">%!RESULT!%</h6>

<div class="container upload-form my-4">
    <h2 class="text-center my-4">Recept feltöltése</h2>
    <form method="post" id="receptFeltoltes" onsubmit="validateForm(event)" enctype="multipart/form-data">
        <div class="form-group py-3">
            <label for="name" class="my-1">Recept neve</label><br>
            <input type="text" name="name" class="form-control" id="name" placeholder="recept neve" required>
        </div>

        <div class="separator"></div>


        <div class="form-group py-3">
            <label for="formFile" class="form-label">Kép feltöltése</label>
            <input class="form-control" type="file" id="formFile" accept="%!ACCEPT!%" name="img">
        </div>

        <div class="container mt-3">
            <div class="row p-4 upload-box">

                <div class="form-group text-center col-sm-3">
                    <label for="category" class="form-label">Kategória</label><br>
                    <select class="from-control w-100" name="category" id="category">
                        %!CATEGORIES!%
                    </select>
                </div>

                <div class="form-group col-sm-3">
                    <label for="time" class="form-label">Elkészítési idő</label>
                    <input class="form-control" type="number" id="time" name="time" min="5" value="30" step="5">
                    <small class="form-text text-muted">perc</small>
                </div>

                <div class="form-group col-sm-3">
                    <label for="nehezseg" class="form-label">Nehézség</label>
                    <select class="form-select" id="nehezseg" name="nehezseg">
                        <option value="kezdő">Kezdő</option>
                        <option value="könnyű">Könnyű</option>
                        <option value="közepes" selected>Közepes</option>
                        <option value="haladó">Haladó</option>
                        <option value="profi">Profi</option>
                    </select>
                </div>

                <div class="form-group col-sm-3">
                    <label for="adag" class="form-label">Adag</label>
                    <input class="form-control" type="number" id="adag" name="adag" min="1" value="2">
                    <small class="form-text text-muted">fő</small>
                </div>

            </div>
        </div>

        <div class="separator my-5 text-center">
            <h4>Hozzávalók</h4>
        </div>

        <div id="ingredientsForm">
            <div id="ingredients" class="row g-3 mb-3">
                <div class="col-12 row align-items-end ingredient-row mt-1">
                    <div class="col-md-4">
                        <label for="ingredientName1" class="form-label">Hozzávaló neve</label>
                        <input type="text" class="form-control input-filed" id="ingredientName1"
                            name="ingredients[0][nev]" placeholder="pl. cukor.." required>
                    </div>
                    <div class="col-md-3">
                        <label for="ingredientAmount1" class="form-label">Mennyiség</label>
                        <input type="number" step="0.1" class="form-control input-filed" id="ingredientAmount1"
                            name="ingredients[0][mennyiseg]" placeholder="pl. 100.." required>
                    </div>
                    <div class="col-md-3">
                        <label for="ingredientUnit1" class="form-label">Mértékegység</label>
                        <select class="form-select" id="ingredientUnit1" name="ingredients[0][mertekegyseg]">
                            <option value="gramm">gramm</option>
                            <option value="dkg">dkg</option>
                            <option value="kg">kg</option>
                            <option value="dl">dl</option>
                            <option value="ml">ml</option>
                            <option value="liter">liter</option>
                            <option value="db">db</option>
                            <option value="ek">ek</option>
                            <option value="tk">tk</option>
                            <option value="pohár">pohár</option>
                            <option value="csésze">csésze</option>
                            <option value="bögre">bögre</option>
                            <option value="csomag">csomag</option>
                            <option value="doboz">doboz</option>
                            <option value="csipet">csipet</option>
                            <option value="marék">marék</option>
                            <option value="csokor">csokor</option>
                            <option value="szelet">szelet</option>
                            <option value="gerezd">gerezd</option>
                            <option value="fej">fej</option>
                            <option value="szál">szál</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-outline-danger remove-ingredient d-none">Törlés</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-default" id="addIngredient">+ hozzávaló</button>

        <div class="separator my-4 text-center">
            <h4>Leírás</h4>
        </div>

        <div class="form-group py-3">
            <label for="leiras" class="form-label">Recept elkészítése</label>
            <textarea class="form-control" id="leiras" rows="15" name="leiras"
                placeholder="Recept leírása..."></textarea>
        </div>


        <input type="submit" class="form-control btn btn-default my-4" name="feltoltes" id="feltoltes" value="Feltöltés"
            required>


    </form>
</div>


<script src="core/scripts/receptFormHandler.js" defer></script>
%!SCRIPT!%