<div class="container">
    <div class="row">


        <!--     Recept section  -->


        <div class="col-lg-9 col-sm-12 blokk my-5">
            <h2 class="text-center my-5">%!NEV!%</h2>
            <div class="parameters my-4">
                <ul>
                    <li>
                        <small><span>%!IDO!%</span> perc |</small>
                    </li>
                    <li>
                        <small><span>%!ADAG!%</span> adag |</small>
                    </li>
                    <li>
                        <small>%!NEHEZSEG!%</small>
                    </li>
                </ul>
            </div>
            <div class="reviews small mb-3">
                <span><img src="%!STARSPIC!%" alt="stars"> &#x2022 </span>
                <span>%!ERTEKELESSZAM!% értékelés &#x2022 </span>
                <span>%!KOMMENTSZAM!%<a class="primary-color" href="#comments"> hozzászólás</a></span>
            </div>


            <div class="cover">
                <img class="img-fluid"
                    src="%!RECEPTKEP!%"
                    alt="recept képe">
            </div>

            <div class="ingredients mx-5">
                <h3 class="my-5" style="margin-left: 20px">Hozzávalók</h3>
                <ul>



                    %!HOZZAVALOK!%



                </ul>
            </div>

            <div class="devider"></div>

            <div class="description my-3 mx-5">
                <h3 class="my-5">Elkészítés</h3>




                <p class="mb-5 leiras">%!LEIRAS!%</p>




            </div>

            <div class="devider"></div>



            <!--      Comments section        -->

            <div class="recept-reviews mt-3">
                <h3 class="text-center" id="comments">Hozzászólások</h3>



                %!KOMMENTEK!%


                <!--        Write review        -->

                %!WRITEREVIEW!%

            </div>

        </div>






        <!--    Side section    -->

        <div class="col-lg-3 col-sm-12 blokk my-5">
            <h4 class="text-center my-5">Hasonló receptek</h4>


            %!RECEPTTHUMBNAILS!%



        </div>
    </div>

</div>










<script src="core/scripts/write-review-stars.js"></script>