%!MAINSEARCH!%

<div class="wrapper">
    <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-12 mt-3">
            <div class="filter shadow-sm">
                <h4 class="p-4">Szűrők</h4>


                <div class="container">
                    <form method="post" id="szurok" name="szurok">
                        %!CATEGORYFILTER!%

                        <div class="form-group mt-3 d-block">
                            <label for="time" class="form-label">Elkészítési idő</label>
                            <span class="remove-filter d-none" id="remove-time" onclick="removeFilter('time')">X</span>
                            <select class="form-select szuro-item" id="time" name="time">
                                <option value="%!TIME!%" selected>%!TIME!%</option>
                                <option value="30 perc alatti">30 perc alatti</option>
                                <option value="30-60 perces">30-60 perces</option>
                                <option value="60-90 perces">60-90 perces</option>
                                <option value="90 perc feletti">90 perc feletti</option>
                            </select>
                        </div>
                        <div class="form-group mt-3 d-block">
                            <label for="nehezseg" class="form-label">Nehézség</label>
                            <span class="remove-filter d-none" id="remove-diff" onclick="removeFilter('nehezseg')">X</span>
                            <select class="form-select szuro-item" id="nehezseg" name="nehezseg">
                                <option value="%!DIFF!%" selected>%!DIFF!%</option>
                                <option value="Kezdő">Kezdő</option>
                                <option value="Könnyű">Könnyű</option>
                                <option value="Közepes">Közepes</option>
                                <option value="Haladó">Haladó</option>
                                <option value="Profi">Profi</option>
                            </select>
                        </div>

                        <div class="form-group mt-3 d-block">
                            <label for="review" class="form-label">Értékelés</label>
                            <span class="remove-filter d-none" id="remove-review" onclick="removeFilter('review')">X</span>
                            <select class="form-select szuro-item" id="review" name="review">
                                <option value="%!RATING!%" selected>%!RATING!%</option>
                                <option value="*">*</option>
                                <option value="**">**</option>
                                <option value="***">***</option>
                                <option value="****">****</option>
                                <option value="*****">*****</option>
                            </select>
                        </div>

                        <input type="submit" class="form-control btn btn-default my-3" value="Szűrés">

                    </form>

                </div>



            </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-12 mr-2 white p-5">


            <div class="order-list">
                <ul>
                    <li class="order-item">A-Z &darr;</li>
                    <li class="order-item">Elk. idő &darr;</li>
                    <li class="order-item">Feltöltés dátuma &darr;</li>
                    <li class="order-item">Értékelés &darr;</li>
                    <!-- &uarr;  -->
                </ul>
            </div>
            <div class="row">





                %!RECEPTCARDS!%





            </div>
            <p class="text-center">%!PAGES!%</p>
        </div>

    </div>



</div>

<script src="core/scripts/szurok.js"></script>