<div class="recept-thumbnail mb-2">
    <div class="row">
        <div class="col-4">
            <div class="img-container"><img class=""
                    src="%!RECEPTKEP!%"
                    alt="recept képe"></div>
        </div>
        <div class="col-8 mt-1 mb-3">
            <a style="text-decoration: none; color: var(--primary-color)" href="#" id="thumb-link">%!RECEPTNEV!%</a>
        </div>
    </div>
    <div>
        <small><span>%!IDO!%</span> perc |</small>
        <small><span>%!ADAG!%</span> adag |</small>
        <small>%!NEHEZSEG!%</small>
    </div>
    <div class="thumbnail-reviews">
       
    </div>
    <div class="devider-small"></div>
</div>