%!MAINSEARCH!%

<div class="wrapper">
    <div class="row">



        <div class="col-lg-3 col-md-4 col-sm-12 my-3 white mx-auto shadow" id="filter-box-collapsed">
            <div>
                <p class="text-center my-3" id="filter-button">szűrők<span style="float: right;"> &#8681;</span></p>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 my-3" id="filter-box">
            <div class="filter shadow-sm">
                <h4 class="p-4">Szűrők</h4>
                <span class="close-filter" id="close-filter" onclick="closeFilter()">&#8679;</span>

                <div class="container">
                    <form method="post" id="szurok" name="szurok">
                        %!CATEGORYFILTER!%

                        <div class="form-group mt-3 d-block">
                            <label for="time" class="form-label">Elkészítési idő</label>
                            <span class="remove-filter d-none" id="remove-time" onclick="removeFilter('time')">X</span>
                            <select class="form-select szuro-item" id="time" name="time">
                                <option value="%!TIME!%" selected>%!TIME!%</option>
                                <option value="30 perc alatti">30 perc alatti</option>
                                <option value="30-60 perces">30-60 perces</option>
                                <option value="60-90 perces">60-90 perces</option>
                                <option value="90 perc feletti">90 perc feletti</option>
                            </select>
                        </div>
                        <div class="form-group mt-3 d-block">
                            <label for="nehezseg" class="form-label">Nehézség</label>
                            <span class="remove-filter d-none" id="remove-diff"
                                onclick="removeFilter('nehezseg')">X</span>
                            <select class="form-select szuro-item" id="nehezseg" name="nehezseg">
                                <option value="%!DIFF!%" selected>%!DIFF!%</option>
                                <option value="Kezdő">Kezdő</option>
                                <option value="Könnyű">Könnyű</option>
                                <option value="Közepes">Közepes</option>
                                <option value="Haladó">Haladó</option>
                                <option value="Profi">Profi</option>
                            </select>
                        </div>

                        <div class="form-group mt-3 d-block">
                            <label for="review" class="form-label">Értékelés</label>
                            <span class="remove-filter d-none" id="remove-review"
                                onclick="removeFilter('review')">X</span>
                            <select class="form-select szuro-item" id="review" name="review">
                                <option value="%!RATING!%" selected>%!RATING!%</option>
                                <option value="*">*</option>
                                <option value="**">**</option>
                                <option value="***">***</option>
                                <option value="****">****</option>
                                <option value="*****">*****</option>
                            </select>
                        </div>

                        <input type="submit" class="form-control btn btn-default my-3" value="Szűrés">

                    </form>

                </div>



            </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-12 mr-2 white p-5">
            <p class="text-center mb-3">Találatok száma: <b style="color: var(--primary-color)">%!RESULTNUM!%</b></p>
            <!--
            <div class="order-list">
                
                <ul>
                    <li class="order-item">A-Z &darr;</li>
                    <li class="order-item">Elk. idő &darr;</li>
                    <li class="order-item">Feltöltés dátuma &darr;</li>
                    <li class="order-item">Értékelés &darr;</li>
                </ul>
            </div>
            -->


            <div class="row">





                %!RECEPTCARDS!%





            </div>
            <div class="container text-center">
                <form method="post">
                    <input type="hidden" name="category" value="%!HIDDENCATEGORY!%">
                    <input type="hidden" name="time" value="%!TIME!%">
                    <input type="hidden" name="nehezseg" value="%!DIFF!%">
                    <input type="hidden" name="review" value="%!RATING!%">
                    %!PREV!%
                    %!PAGES!%
                    %!NEXT!%
                </form>
            </div>
        </div>

    </div>



</div>

<script src="core/scripts/szurok.js"></script>