<div class="card-deck col-lg-4 col-md-6 mb-5" id="%!RECEPTID!%">
    <div class="card shadow-sm">
        <a href="%!RECEPTLINK!%">
            <img class="card-img-top"
                src="%!RECEPTKEP!%"
                alt="recept kep">
        </a>
        <div class="card-body mt-2">
            <h5 class="card-title"><a href="#">%!RECEPTNEV!%</a></h5>
            <ul class="card-list">
                <li class="card-text">
                    <small class="text-muted"><span>%!IDO!%</span> perc | </small>
                </li>
                <li class="card-text">
                    <small class="text-muted"><span>%!ADAG!%</span> adag | </small>
                </li>
                <li class="card-text">
                    <small class="text-muted">%!NEHEZSEG!%</small>
                </li>
            </ul>
            <p class="card-text text-center mb-1"><small><span>%!USER!%</span> receptje</small></p>
            <p class="card-text text-center mb-0 text-muted"><small>Értékelés <span>%!SCORE!%</span></small>
            </p>
            <div class="star text-center mb-1">
                <img class="star-image" src="%!STARSKEP!%" alt="stars">
            </div>
        </div>
    </div>
</div>