<div class="container">

    <div class="row">


        <!--     Recept section  -->


        <div class="col-lg-9 col-sm-12 blokk my-5 d-block">
            %!HEART!%
            %!BUTTONS!%
            <h2 class="text-center mt-5 mb-4">%!NEV!%</h2>
            <h6 class="text-center %!COLOR!%">%!USER!%</h6>
            <p class="text-center mb-0"><small>%!TIME!%</small></p>
            <div class="parameters my-4">
                <ul>
                    <li>
                        <small><span>%!IDO!%</span> perc |</small>
                    </li>
                    <li>
                        <small><span>%!ADAG!%</span> adag |</small>
                    </li>
                    <li>
                        <small>%!NEHEZSEG!%</small>
                    </li>
                </ul>
            </div>
            <div class="reviews small mb-3">
                <span><img src="%!STARSPIC!%" alt="stars"> &#x2022 </span>
                <span>%!ERTEKELESSZAM!% értékelés &#x2022 </span>
                <span>%!KOMMENTSZAM!%<a class="primary-color" href="#comments"> hozzászólás</a></span>
            </div>


            <div class="recepie-img-wrapper">
                <img class="img-fluid" src="%!RECEPTKEP!%" alt="recept képe">
            </div>

            <div class="ingredients mx-5">
                <h3 class="my-5" style="margin-left: 20px">Hozzávalók</h3>
                <ul>



                    %!HOZZAVALOK!%



                </ul>
            </div>

            <div class="devider"></div>

            <div class="description my-3 mx-5">
                <h3 class="my-5">Elkészítés</h3>




                <p class="mb-5 leiras">%!LEIRAS!%</p>




            </div>
            <div class="py-4">%!BUTTONS!%</div>
            <div class="devider"></div>



            <!--      Comments section        -->

            <div class="recept-reviews mt-3">
                <h3 class="text-center" id="comments">Hozzászólások</h3>



                %!KOMMENTEK!%


                <!--        Write review        -->

                %!WRITEREVIEW!%

            </div>

        </div>






        <!--    Side section    -->

        <div class="col-lg-3 col-sm-12 blokk my-5">
            <h4 class="text-center my-5">Hasonló receptek</h4>


            <div class="sticky">%!RECEPTTHUMBNAILS!%</div>



        </div>
    </div>

</div>

<div id="append" class="d-none"></div>










<script src="core/scripts/write-review-stars.js"></script>

<script>
    function deleteRecepie(receptId) {
        const userResponse = confirm("Biztosan törölni akarod ezt a receptet?!!");
        if (userResponse) {
            const form = document.createElement("form");
            form.setAttribute("method", "post");
            document.getElementById("append").appendChild(form);
            const hiddenInput = document.createElement("input");
            hiddenInput.type = "hidden";
            hiddenInput.name = "delete-recepie";
            hiddenInput.value = receptId;
            form.appendChild(hiddenInput);
            console.log(form);
            form.submit();
        }
    }

    function saveToFavorites(itemId) {
        fetch('api/save_favorite.php', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ item_id: itemId })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    //console.log(data.result);
                    //console.log(data.ids);
                    if (data.result === "inserted") {
                        document.getElementById("icon-" + itemId).setAttribute("src", "content/heart_icons/heart2b.png");
                    }
                    else if (data.result === "removed") {
                        document.getElementById("icon-" + itemId).setAttribute("src", "content/heart_icons/heart1b.png");
                    }
                } else {
                    console.log('Hiba a kedvenchez adás közben: ' + data.error);
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>