<div class=" col-lg-4 col-sm-6 mb-5"  id="card-%!RECEPTID!%">
    <div class="card-deck shadow rounded d-block" id="%!RECEPTID!%">
        %!HEART!%
        <div class="card"">
            <a href="%!RECEPTLINK!%">
                <div class="card-img-wrapper">
                    <img class="card-img-top"
                        src="%!RECEPTKEP!%"
                        alt="%!RECEPTNEV!%">
                </div>
            </a>
            <div class="card-body">
                <div class="nev-wrapper"><h5 class="card-title"><a href="%!RECEPTLINK!%">%!RECEPTNEV!%</a></h5></div>
                <ul class="card-list mt-1">
                    <li class="card-text">
                        <small class="text-muted"><span>%!IDO!%</span> perc | </small>
                    </li>
                    <li class="card-text">
                        <small class="text-muted"><span>%!ADAG!%</span> adag | </small>
                    </li>
                    <li class="card-text">
                        <small class="text-muted">%!NEHEZSEG!%</small>
                    </li>
                </ul>
                <div class="text-center card-bottom-text">
                    <p class="card-text mb-1"><small><span><a class="link-default %!COLOR!%" href="index.php?p=user-page&user=%!USERID!%">%!USER!%</a></span></small></p>
                    <p class="card-text mb-0 text-muted"><small>Értékelés <span>%!SCORE!%</span></small>
                    </p>
                    <div class="star mb-1">
                        <img class="star-image" src="%!STARSKEP!%" alt="stars">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>