<div class="small-deck">
    <div class="img-wrapper">
        <a href="%!LINK!%">
        <img class="card-img-top" src="%!KEP!%" alt="recept kep">
        </a>
    </div>
    <div class="mt-1 text-center">
        <div class="title-wrapper"><h5 class="card-title p-1">%!NEV!%</h5></div>
        <ul class="card-list mt-1">
            <li class="card-text">
                <small class="text-muted">%!IDO!% perc | </small>
            </li>
            <li class="card-text">
                <small class="text-muted">%!ADAG!% adag | </small>
            </li>
            <li class="card-text">
                <small class="text-muted">%!NEHEZSEG!%</small>
            </li>
        </ul>
        <a class="btn btn-default" href="%!LINK!%">megnézem</a>
    </div>
</div>