<div class="star-recept">
    <div class="container mw-80">
        <div class="row white">
            <div class="col-md-7 p-0">
                <div class="wrap">
                    <a href="%!LINK!%"><img src="%!RECEPTKEP!%" alt="recept képe" class="star-recept-kep"></a>
                </div>
            </div>
            <div class="col-md-5 white star-flex">
                <h2 class="text-center my-5">%!NEV!%</h2>
                <div class="star-parameters my-4">
                    <ul class=" m-0 px-3 py-2">
                        <li>
                            <small><span>%!IDO!%</span> perc |</small>
                        </li>
                        <li>
                            <small><span>%!ADAG!%</span> adag |</small>
                        </li>
                        <li>
                            <small>%!NEHEZSEG!%</small>
                        </li>
                    </ul>
                </div>
                <div class=" small text-center mb-3">
                    <span><img src="%!STARSPIC!%" alt="stars" style="max-width: 100px;" class="mb-4"></span><br>
                    <span>%!ERTEKELESSZAM!% értékelés &#x2022 </span>
                    <span>%!KOMMENTSZAM!% hozzászólás</span>
                </div>
                <div class="my-4 text-center star-btn">
                    <a href="%!LINK!%" class="btn btn-default">Megnézem</a>
                </div>
            </div>
        </div>
    </div>

</div>