<div class="col-12 col-md-6 mb-3 mxw-90p">
    <a href="%!LINK!%" class="link-default">
    <div class="user-card white shadow rounded py-4 mb-2">
        <div class="row">
            <div class="col-4">
                <div class="profil-pic-wrapper-small m-auto">
                    <img class="profil-pic" src="%!PIC!%"
                        alt="%!NAME!% profilkép">
                </div>
            </div>
            <div class="col-8">
                <h5 class="primary-color pt-2">%!NAME!%</h5>
                <p class="black">%!NUMBER!% feltöltött recept</p>
            </div>
        </div>
    </div>
</a>
</div>