<div id="main-content">
    <div class="fav-wrapper">
        <div class="row w-100 m-0">


            <div class="profil-receptek white mb-3">
                <div class="cover-pic mb-3">
                    <h2 class="headline">Felhasználók</h2>
                    <img src="%!COVERIMG!%" alt="cover-pic" class="img-fluid">
                </div>

                <div class="row py-3 px-5 dynamic-padding mw-950 w-100 m-auto">






                    %!USERS!%







                </div>


            </div>
        </div>

    </div>
</div>
</div>