<div class=" col-lg-4 col-md-6 mb-5 ">
    <div class="card-deck shadow rounded" id="%!RECEPTID!%">
        <div class="card pb-4">
            <a href="%!RECEPTLINK!%">
                <div class="card-img-wrapper">
                    <img class="card-img-top"
                        src="%!RECEPTKEP!%"
                        alt="recept kep">
                </div>
            </a>
            <div class="card-body">
                <h5 class="card-title"><a href="%!RECEPTLINK!%">%!RECEPTNEV!%</a></h5>
                <ul class="card-list">
                    <li class="card-text">
                        <small class="text-muted"><span>%!IDO!%</span> perc | </small>
                    </li>
                    <li class="card-text">
                        <small class="text-muted"><span>%!ADAG!%</span> adag | </small>
                    </li>
                    <li class="card-text">
                        <small class="text-muted">%!NEHEZSEG!%</small>
                    </li>
                </ul>
                <p class="card-text text-center mb-0 text-muted"><small>Értékelés <span>%!SCORE!%</span></small>
                </p>
                <div class="star text-center mb-1">
                    <img class="star-image" src="%!STARSKEP!%" alt="stars">
                </div>
            </div>
    
            <div class="actions text-center mt-2">
                <form method="post">
                <a href="#" class="delete-recept" onclick="deleteRecepie(%!RECEPTID!%)">törlés</a>
                </form>
            </div>
        </div>
    </div>
</div>
