

<div id="main-content">
    <div class="wrapper">
        <div class="row"  style="width: 100%; margin: auto">
            <div class="col-md-3 p-5 white rounded mt-3 max-height profil-box m-auto">
                <div class="profil-adatok">
                    <div class="text-center mt-4">
                        <div class="d-block" style="max-width: 200px; margin: auto;">
                            <img id="profil-pic-icon" src="content/camera-icon.png" alt="camera icon">
                            <div class="profil-img-wrapper m-auto" id="profil-img-wrapper"><img class="profil-pic" src="%!SRC!%" alt="%!NAME!% profilkép"></div>
                        </div>
                        <p class="my-3"><b>%!NAME!%</b></p>
                        <p class="my-3 small">%!EMAIL!%</p>
                        <p class="my-3">%!RECEPTSZAM!% feltöltött recept</p>
                    </div>

                </div>
            </div>
            <div class="col-md-9" style="padding-right: 0 !important;">
                <div class="profil-receptek white" style="min-height: 800px;">
                    <div class="cover-pic">
                        <h2>%!NAME!% receptjei</h2>
                        <img src="%!COVERIMG!%" alt="cover-pic" class="img-fluid">
                    </div>

                    <div class="row py-3 mw-850 dynamic-padding" style="width: 100%; margin: auto;">

                        <div class="container text-center pb-3">
                            <form method="post">
                                %!PREV!%
                                %!PAGES!%
                                %!NEXT!%
                            </form>
                        </div>




                        %!RECEPTCARDS!%





                    </div>

                    <div class="container text-center pb-3">
                        <form method="post">
                            %!PREV!%
                            %!PAGES!%
                            %!NEXT!%
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height: 500px;"></div>

<script>
window.onresize =
    document.getElementById("profil-img-wrapper").style.height = window.getComputedStyle(document.getElementById("profil-img-wrapper")).width;
</script>
<script>%!SCRIPTS!%</script>