<tr>
    <td>%!ID!%</td>
    <td>%!NEV!%</td>
    <td>%!EMAIL!%</td>
    <td>%!GROUP!%</td>
    <td>%!DATE!%</td>
    <td>%!PIC!%</td>
    <td style="width: 100px;">
        <input type="button" class="btn btn-primary edit-btn" value="módosít" name="edit">
    </td>
    <td style="width: 100px;">
        <form method="post">
        <input type="submit" class="btn btn-danger submit-btn" value="törlés" name="delete">
        <input type="hidden" name="user" value="%!ID!%">
        </form>
    </td>
</tr>