<h3>Felhasználók listája</h3>

<h5 style="background-color: %!COLOR!%; color: white" class="w-100 p-2">%!RESULT!%</h5>

<div id="editModal" style="display:none;" class="form-control">
    <div>
        <h3>Felhasználó módosítása</h3>
        <form id="editForm" method="post">
            <input type="hidden" id="editUserId">
            <div class="form-group">
                <label for="userName">Név:</label>
                <input class="form-control" type="text" id="userName">
            </div>
            <div class="form-group">
                <label for="userEmail">Email:</label>
                <input class="form-control" type="email" id="userEmail">
            </div>
            <div class="form-group">
                <label for="groupMem">Group Member:</label>
                <input class="form-control" type="number" min="0" id="groupMem">
            </div>
            <div class="my-3">
                <button type="submit" id="saveChanges" class="btn btn-success" name="editUser">Save</button>
                <button type="button" class="btn btn-danger" id="cancelEdit">Cancel</button>
            </div>
        </form>
    </div>
</div>


<table id="search-table" class="table table-sm table-dark table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Név</th>
            <th>Email cím</th>
            <th>Group member</th>
            <th>Létrehozva</th>
            <th>Profilkép fáljnév</th>
            <th colspan="2">Opciók</th>
        </tr>
    </thead>
    <tbody>
        %!USERS!%
    </tbody>
</table>

<script src="core/scripts/usersHandler.js"></script>