body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#admin-nav-section {
    color: white;
    background-color: rgb(8, 7, 27);
}

#admin-body-section {
    background-color: rgb(233, 232, 251);
}

#admin-welcome-text {
    font-size: 80px;
}

#search-table {
    overflow-y: scroll;
    height: 90vh;
    display: block;
}

#search-table td {
    width: 300px;
}

#back-to-hp{
    position: absolute;
    bottom: 80px;
}